<header>
  <%= render 'users/header' %>
</header>
<nav>
  <%= render 'users/nav' %>
</nav>
<main>
  <div class='container'>
    <article class='l_container'>
      <section class='m_container'>
        <%= render 'users/section' %>
        <%= render 'users/table' %>
      </section>
    </article>
    <aside class='m_container_right'>
      <%= render 'users/aside' %>
      <div class='year_count_table'>
        <h3>年ごとの合計学習時間</h2>
        <table>
          <th>年</th>
          <th>合計時間</th>
          <% controller.a_year_counts.each do |key,value| %>
            <tr>
              <td><%= key %></td>
              <td><%= "#{value.to_s(:delimited, delimiter: ',')}時間" %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </aside>
  </div>
  <div class="github-link">
    <a href="https://github.com/suzy1031" target="_blank">
      <img src="https://grass-graph.moshimo.works/images/suzy1031.png?">
    </a>
  </div>
</main>